/***** Begin the "DataONE" header at the top of each page *****/
div.logoheader {
  background: transparent url("images/preface-wrapper-bg.png") repeat-x top left;
  height: 101px;
}
div.logoheader h1 {
  background: transparent url("images/logo.png") no-repeat top left;
  margin: 10px 9px;
  width: 333px;
  height: 77px;
  float: left;
}
/***** End the "DataONE" header at the top of each page *****/

td.label {
	width: 150px;
}

/*Footer Elements*/

#zone-footer {
	font-family: Helvetica,Arial,sans-serif;
	color: #999;
	font-size: 10px;
	line-height: 9px;
	background: white;
	/*border-top: #603 medium solid;*/
	width:100%;
}

p.footer-text {
	padding-left: 8px;
	padding-bottom: 8px;
	font-size: 11px;
	line-height: 14px;
	color: #999;
}

#zone-footer a {
	color: #603;
	text-decoration: none;
	word-wrap: normal;
}
