<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>MyProxy Portal</display-name>
    
    <!-- ensure session lasts as long as a token -->
    <session-config>
    	<session-timeout>1080</session-timeout>
    </session-config>

	<servlet>
        <servlet-name>startRequest</servlet-name>
        <servlet-class>org.dataone.portal.servlets.myproxy.StartRequest</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>startRequest</servlet-name>
        <url-pattern>/startRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ready</servlet-name>
        <servlet-class>org.dataone.portal.servlets.myproxy.D1SuccessServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ready</servlet-name>
        <url-pattern>/ready</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description>Servlet to display test page</description>
        <servlet-name>test</servlet-name>
        <servlet-class>org.dataone.portal.servlets.myproxy.D1TestServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description>failure page</description>
        <servlet-name>failureServlet</servlet-name>
        <servlet-class>org.dataone.portal.servlets.myproxy.FailureServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>failureServlet</servlet-name>
        <url-pattern>/failure</url-pattern>
    </servlet-mapping>
    
    <!--  ORCID OAuth servlet -->
	<servlet>
		<servlet-name>oauthServlet</servlet-name>
		<servlet-class>org.dataone.portal.servlets.oauth.OrcidOAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oauthServlet</servlet-name>
		<url-pattern>/oauth</url-pattern>
	</servlet-mapping>
	
	<!--  LDAP Auth servlet -->
	<servlet>
		<servlet-name>ldapServlet</servlet-name>
		<servlet-class>org.dataone.portal.servlets.ldap.LdapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ldapServlet</servlet-name>
		<url-pattern>/ldap</url-pattern>
	</servlet-mapping>
	
	<!-- identity servlet (old portal) -->
	<servlet>
        <description>Servlet to edit account info</description>
        <servlet-name>identity</servlet-name>
        <servlet-class>org.dataone.portal.servlets.IdentityServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>identity</servlet-name>
        <url-pattern>/identity</url-pattern>
    </servlet-mapping>
    
	<!-- token endpoint -->
	<servlet>
		<servlet-name>tokenServlet</servlet-name>
		<servlet-class>org.dataone.portal.servlets.TokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tokenServlet</servlet-name>
		<url-pattern>/token</url-pattern>
	</servlet-mapping>
	
	<!-- logout endpoint -->
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>org.dataone.portal.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
    
    <!--  AnnotatorStore proxy to MN storage -->
	<servlet>
		<servlet-name>annotatorStoreRestServlet</servlet-name>
		<servlet-class>org.dataone.annotator.store.AnnotatorRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>annotatorStoreRestServlet</servlet-name>
		<url-pattern>/annotator/*</url-pattern>
	</servlet-mapping>
    
    <listener>
        <listener-class>edu.uiuc.ncsa.myproxy.oa4mp.client.loader.ClientBootstrapper</listener-class>
    </listener>

	<!-- disabling this so that index.jsp shows by default -->
	<!-- 
    <filter>
        <filter-name>filter</filter-name>
        <filter-class>edu.uiuc.ncsa.myproxy.oa4mp.client.servlet.MyTomcatFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    
    <!--
       Specify the XML-based configuration file for oa4mp
    -->
    <context-param>
        <param-name>oa4mp:client.config.file</param-name>
        <param-value>/var/lib/tomcat7/webapps/portal/WEB-INF/client.xml</param-value>
    </context-param>

    <!-- (Optional) name of the configuration within the file to load -->
    <!--
    <context-param>
        <param-name>oa4mp:client.config.name</param-name>
        <param-value>config-name</param-value>
    </context-param>
    -->
	
	<!-- NOTE: can override the CN URL for DataONE -->
	<context-param>
		<param-name>D1Client.CN_URL</param-name>
		<param-value>https://cn.dataone.org/cn</param-value>
	</context-param>
	<!-- properties file to augment additional properties -->
	<context-param>
        <param-name>portal.properties.file</param-name>
        <param-value>/var/lib/tomcat7/webapps/portal/WEB-INF/portal.properties</param-value>
    </context-param>
	
	<context-param>
		<param-name>org.dataone.assetStore.maxAttempts</param-name>
		<param-value>10</param-value>
	</context-param>
	
	<!--  share HZ properties for Oauth helper -->
	<context-param>
	    <param-name>config-location</param-name>
	    <param-value>/etc/dataone/portal/hazelcast.xml</param-value>
	</context-param>
	<context-param>
	    <param-name>map-name</param-name>
	    <param-value>d1PortalOAuth</param-value>
	</context-param>
      
	<!-- Hazelcast Session replication -->
	<filter>
		<filter-name>hazelcast-filter</filter-name>
		<filter-class>com.hazelcast.web.WebFilter</filter-class>
		<!-- point to DataONE hazelcast config -->           
		<init-param>
		    <param-name>config-location</param-name>
		    <param-value>/etc/dataone/portal/hazelcast.xml</param-value>
		</init-param>
		
		<init-param>
            <param-name>client-config-location</param-name>
            <param-value>/etc/dataone/portal/hazelcast-client.xml</param-value>
        </init-param>
		<!--
		    Name of the distributed map storing
		    your web session objects
		-->
		<init-param>
		    <param-name>map-name</param-name>
		    <param-value>d1PortalSessions</param-value>
		</init-param>
		<!--
		    How is your load-balancer configured?
		    stick-session means all requests of a session
		    is routed to the node where the session is first created.
		    This is excellent for performance.
		    If sticky-session is set to false, when a session is updated
		    on a node, entry for this session on all other nodes is invalidated.
		    You have to know how your load-balancer is configured before
		    setting this parameter. Default is true.
		-->
		<init-param>
		    <param-name>sticky-session</param-name>
		    <param-value>true</param-value>
		</init-param>
		<!--
		    Are you debugging? Default is false.
		-->
		<init-param>
		    <param-name>debug</param-name>
		    <param-value>true</param-value>
		</init-param>
		<init-param>
		    <param-name>instance-name</param-name>
		    <param-value>dataonePortalInstance</param-value>
		</init-param>

	</filter>
	<filter-mapping>
	    <filter-name>hazelcast-filter</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<!-- for session replication when deployed with round robin DNS -->
	<listener>
	    <listener-class>com.hazelcast.web.SessionListener</listener-class>
	</listener>
	
</web-app>
